<!DOCTYPE html>
<html>
	{include file="head.html"}
	<style>
		.circle{
			width: 20px;
			height: 20px;
			text-align: center;
			line-height: 20px;
			border-radius: 50%;
			font-size: 12px;
			border:1px solid #aaa;
			margin-left: 3px;
		}
		.circle-active{
			border:1px solid #f30;
			color: #f30;
		}
	</style>
	<body>
		<div class="header">
			<div class="header-back"></div>
			<div class="header-title">批量修改</div>
			 
		</div>
		<div class="header-row"></div>
		<div class="main-body none" :class="'flex-col'" id="App">
			<div class="row-box mgb-5">
				<div class="flex flex-ai-center mgb-5">
					<select v-model="catid"  class="select h30 mgr-5 w100">
						<option value="0">选择分类</option>
						<template v-for="(item,index) in catList" :key="index">						 
						<option  :value="item.catid">{{item.title}}</option>
						<option v-if="item.child" v-for="(cc,ccindex) in item.child" :key="ccindex" :value="cc.catid">|--{{cc.title}}</option> 
						</template>
					</select>
					<select v-model="bstatus"   class="select h30 mgr-5 w100">
						<option value="0">全部</option>
						<option value="1">上架</option>
						 <option value="2">下架</option>
					</select>
					<select v-model="isplan"   class="select h30 mgr-5 w100">
						<option value="0">售卖方式</option>
						<option value="1">预定</option>
						 <option value="2">非预定</option>
					</select>
					<input true-value="1" false-value="0" v-model="isrecommend" type="checkbox" />
					<div>推荐</div>
					
					<input true-value="1" false-value="0" v-model="ishot" type="checkbox" />
					<div>热门</div>
					
					 
					 
				</div>
				<div class="flex">
					<select v-model="supid" name="supid" class="w100">
						<option value="0">选择供应商</option>
						 
						<option v-for="(item,index) in supList" :key="index" :value="item.supid">{{item.title}}</option>
						 
					</select>
					<input v-model="keyword" class="input-flex-text" />
					<div @click="search" class="input-flex-btn w60">搜一下</div>
				</div>
			</div>
			<div class="list">
				 
				<div v-for="(item,index) in list" :index="index" class="flexlist-item js-item">
				
					<img v-if="item.imgurl!=''" :src="item.imgurl+'.100x100.jpg'" class="flexlist-img" />
					 
					<div class="flex-1">
						<div class="flexlist-title">{{item.title}}</div>
						<div class="flex flex-ai-center mgb-5">
							<div class="cl-money mgr-10">￥{{item.price}}</div>
							 <div class="cl2 f12">{{item.fenliang}}</div>
							<div class="flex-1"></div>
							 
							库存
							<input type="text" v-model="item.total_num" class="w60 mgr-5" />
							<div @click="updatePrice(item)" class="btn-small">修改</div>
						</div>
						 
					</div>
				</div>
				
			 
			</div>
			<div class="loadMore" v-if="per_page>0" @click="getList()">加载更多</div>
		</div>
		 
		{include file="footer.html"}
		<script src="{$skins}csc_product/price.js?v=33"></script>
	</body>
</html>
