<!DOCTYPE html>
<html>
	{include file="head.html"}
	<body>
		<div class="header">
			<div class="header-back"></div>
			<div class="header-title">河道管理</div>
		</div>
		<div class="header-row"></div>
		<div id="App" class="main-body">
			<div class="tabs-border">
				<div @click="setTab('index')" :class="tab=='index'?'tabs-border-active':''" class="tabs-border-item">资讯</div>
				<div @click="setTab('he')"  :class="tab=='he'?'tabs-border-active':''"  class="tabs-border-item">河道</div>
				<div @click="setTab('guest')"  :class="tab=='guest'?'tabs-border-active':''"  class="tabs-border-item">投诉</div>
				
			</div>
			<div v-if="tab=='index'">
				<div class="sglist">
					<div @click="goArticle(item)" v-for="(item,index) in articleList" :key="index" class="sglist-item">
						<img :src="item.imgurl+'.middle.jpg'" class="sglist-img" />
						<div class="sglist-title">{{item.title}}</div>
						
					</div>
				</div>
			</div>
			<div v-if="tab=='he'">
				<div class="sglist">
					<div @click="goHe(item)" v-for="(item,index) in heList" :key="index" class="sglist-item">
						<img :src="item.imgurl+'.middle.jpg'" class="sglist-img" />
						<div class="sglist-title">{{item.title}}</div>
						
					</div>
				</div>
			</div>
			<div v-if="tab=='guest'">
				<form>
					<div class="input-flex">
						<div class="input-flex-label">投诉主题：</div>
						<input class="input-flex-text"  type="text" v-model="guest.title"/>
					</div>
					<div class="bg-white">
					<input type="hidden" id="imgsdata" value="{$data.imgsdata}" name="imgsdata" />
					{include file="inc/uploader-data.html"}
					</div>
					<div class="textarea-flex">
						<div class="textarea-flex-label">投诉内容：</div>
						<textarea class="textarea-flex-text" v-model="guest.description"></textarea>
					</div>
					<div class="btn-row-submit">投诉一下</div>
				</form> 
			</div>
		</div>
		{include file="footer.html"}
		<script src="{$skins}heguan/index.js"></script>
	</body>
</html>