<!DOCTYPE html>
<html>
	{include file="head.html"}
	<body>
		<div class="header">
			<div class="header-back"></div>
			<div class="header-title">尾款清单</div>
		</div>
		<div class="header-row"></div>
		<div class="main-body" id="App">
			<div>
				<div class="row-box mgb-5" v-for="(item,index) in list" :key="index">
					<div>
						<div class="flex mgb-5">
							<div class="mgr-5">尾款</div>				
							<div class="cl-money">￥{{item.pay_money}}</div>
							<div class="mgl-10 mgr-5">总费用</div>
							<div class="cl-money">￥{{item.total_money}}</div>
							<div class="flex-1"></div>
							
							<div class="mgr-5">
								<div @click="pay(item)" v-if="item.ispay==0" class="btn-mini">去支付</div>
								<div class="cl-status" v-else>已支付</div>
							</div>
						</div>
						<div class="cl3">
							{{item.content}} --{{item.createtime}}
						</div>
					</div>
				</div>
			</div>
		</div>
		{include file="footer.html"}
		<script src="{$skins}/household_order_append/my.js"></script>
	</body>
</html>
