<!DOCTYPE html>
<html>
	{include file="head.html"}
	<body>
		<div class="header">
			<div class="header-back"></div>
			<div class="header-title">商家活动</div>
		</div>
		<div class="header-row"></div>
		<div id="App" class="main-body">
			<div @click="goShop(item.shopid,item.spid)" v-for="(item,index) in list" :key="index" class="flexlist-item pointer">
				<img :src="item.imgurl+'.100x100.jpg'" class="flexlist-img bd-radius-50" />
				<div class="flex-1">
					<div class="flexlist-title">{{item.shopname}}</div>
					<sky-raty len="5" mod="2" readonly="1" :grade="item.raty_grade" label="评价"></sky-raty>
					<div class="flex" v-if="item.prolist">
						<div v-for="(p,pindex) in item.prolist" :key="pindex" class="mgr-5">
							<img :src="p.imgurl+'.100x100.jpg'" class="wh-60 mgb-5" />
			
						</div>
					</div>
				</div>
			
				 
			</div>
		</div>
		{include file="footer.html"}
		<script src="/plugin/dt-ui/raty.vue.js"></script>
		<script src="{$skins}wmo2o_hot/index.js"></script>
	</body>
</html>
