<!DOCTYPE html>
<html>
{include file="head.html"}

<body>
<div class="header">
	<div class="header-back"></div>
	<div class="header-title">商家返券日志</div>
</div>
<div class="header-row"></div>
<div class="main-body none" :class="'flex-col'" id="App">
    
 
    	<div v-for="(item,index) in list" :key="index" class="row-box mgb-5">
    		 
    		<div class="flex">
				<div class="cl2 mgr-10">{{item.nickname}}</div>
    			<div class="cl-money">￥{{item.money}}</div>
    			<div class="flex-1"></div>
    			<div class="f12 cl3">{{item.timeago}}</div>
    		</div>
    	</div>
     
		<div v-if="per_page>0" @click="getList()" class="loadMore">加载更多</div>
    
    
</div>
{include file="footer.html"}
<script>
	var shopid="{$shop.shopid}"
</script>
<script src="{$skins}flk_queue_log/shop.js?v=2"></script>
</body>
</html>