<!DOCTYPE html>
<html>
	{include file="head.html"}
	<body>
		<div class="header">
			<div class="header-back"></div>
			<div class="header-title">我的文章</div>
		</div>
		<div class="header-row"></div>
		<div class="main-body" id="App">
			<div v-if="list.length==0" class="emptyData">暂无文章</div>
			<div v-if="list.length>0">
				<div class="flex pd-10 ">
					<div class="f16">我的文章</div>
					
					<div class="flex-1"></div>
					<div class="mgr-5">共{{rscount}}篇</div>
					<div class="cl-primary pointer" @click="getPage">刷新</div>
				</div>
				<div @click="showItem(item)"  v-for="(item,index) in list" :key="index" class="row-box mgb-5">
					<div class="mgb-5">{{item.title}}</div>
					<div class="cl2">{{item.prompt}}</div>
				</div>
				 
				<div class="loadMore" v-if="per_page>0" @click="getList">加载更多</div>
			</div>
			<div v-if="showArticle">
				<div @click="showArticle=false" class="modal-mask"></div>
				<div class="modal" :style="picModal">
					<div class="modal-header">
						<div class="modal-title">查看文章</div>
						<div @click="goLast()" class="mgr-10 pointer cl-primary">上一篇</div>
						<div @click="goNext()" class="mgr-10  pointer cl-primary">下一篇</div>
						<div @click="showArticle=false" class="modal-close icon-close"></div>
					</div>
					<div class="pd-10">
						<div class="mgb-10">{{article.title}}</div> 
						<div class="mgb-10">
							<div v-html="article.content"></div>
						</div>
						<div class="flex mgb-10">
							<div @click="copy(article.prompt)" class="btn-small mgr-10">再来一篇</div>
							<div @click="delItem(article)" class="btn-small">删除文章</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{include file="footer.html"}
		<script src="{$skins}aichat_text/my.js"></script>
	</body>
</html>