<!DOCTYPE html>
<html>
{include file="head.html"}

<body>
<div class="header">
 
	<div class="header-title">找课程</div>
</div>
<div class="header-row"></div>
<div class="main-body" id="App">
    <div v-if="!list || list.length==0 " class="emptyData">暂无课程</div>
    <div v-for="(item,index) in list" :key="index"  class="sglist-item ">
		 
		<div class="flex flex-ai-center">
			<img class="flexlist-img" :src="item.imgurl+'.100x100.jpg'" />
			<div class="flex-1">
				<div class="flexlist-title">{{item.title}}</div>
				<div class="flex mgb-10">
					<div class="cl2 mgr-5">库存</div>
					<div class="cl-money mgr-10">{{item.total_num}}份</div>
					
					<div class="cl2 mgr-5">已售</div>
					<div class="cl-num mgr-10">{{item.sold_num}}份</div>
				</div>
				
				<div class="flexlist-desc">{{item.description}}</div>
			</div>
			<div>
				<div class="mgb-10 cl2">教师：{{item.shop.title}}</div>
				<div @click="goDetail(item.lessonid)" class="btn-small btn-outline-primary" >详情</div> 
			</div>
			
		</div>
    	
    </div>
    	
    
</div>
{assign var="ftnav" value="tutor_lesson"}
		{include file="ftnav.html"}
{include file="footer.html"}
<script src="{$skins}tutor_lesson/index.js"></script>
</body>
</html>