html,
body {
	height: 100%;
}

.msbox {}

.msList {
	background-color: beige;
	position: absolute;
	top: 50px;
	bottom: 100px;
	left: 0;
	right: 0;
	overflow-y: auto;
}

.msitem {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
	padding: 10px;
}
.msitem-nick{
	margin-right: 10px;
}
.msitem-answer ,.msitem-ask{
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
	flex: 1;
	overflow: auto; 
	position: relative;
}
.msitem-answer  ol{
	margin-left: 20px;
} 
.msitem-answer  ul{
	margin-left: 30px;
}
.msitem-ask img{
	max-width: 150px;
	height: auto;
}
.msitem-answer img{
	max-width: 100%;
	height: auto;
}
.msitem-tts{
	 
	color: red;
	cursor: pointer;
	padding: 5px;
}
.msitem-ask-del,.msitem-answer-del{
	position: absolute;
	right: 10px;
	top:10px;
	padding:5px;
	cursor: pointer;
	background-color: #eee;
	color: #f00;
	box-sizing: border-box;
}
pre{
	white-space: break-spaces;
	overflow-x: auto;
	line-height: 1.5;
}
pre,.preblock{
	overflow-x: auto;
	background-color: #fff;
	border-radius: 20px;
	padding:10px;
}
code{
	background-color: #eee;
	padding: 5px;
}
.ts-close{
	position: absolute;
	right:5px;
	top:5px;
	padding:5px;
	cursor: pointer;
	color:#f00;
}
.tsList{
	position: fixed;
	top: 100px;
	bottom: 0px;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 99;
	overflow: auto;
	padding: 10px;
}
.tsBox{
	position: fixed;
	bottom: 60px;
	right: 5px;
	padding: 5px;
	background-color: #ff5722;
	color: #fff;
	cursor: pointer;
}
.msBottom {
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	background: #fff;
	 
	 
}
.ntable{
	border: 1px solid #eee;
	display: flex;
	flex-direction: row;
	background-color: #fff;
	padding-left: 10px;
}
.ntable-td{
	border-right: 1px solid #eee;
	padding: 10px;
	cursor: pointer;
}
.content{
	height: 60px;
	border: 0;
	outline: 0;
	padding: 10px;
	flex: 1;
}