<!DOCTYPE html>
<html>
	{include file="head.html"}
	<body>
		<div class="header">
			<div class="header-back"></div>
			<div class="header-title">{$exam.title}</div>
		</div>
		<div class="header-row"></div>
		
		<div class="main-body " id="app">
			
			 
			<div class="pd-5">
				<div class="flex flex-ai-center mgb-5">
					<input v-model="keyword" placeholder="请输入关键字" class="input-flex-text" type="text" />
					<div class="input-flex-btn mgr-10" @click="search">搜全站</div>
					<div class="btn-small" @click="searchMy">搜我的</div>
				</div>
			</div>
				<div class="modal-group" :style="searchClass">
					<div class="modal-mask" @click="searchHide"></div>
					<div class="modal">
						<div class="modal-header">
							<div class="modal-title">搜索结果</div>
						</div>
						<div class="modal-body">
						<div class="slist" v-if="searchList.length>0">
							<form :id="'addForm'+item.topicid" class="row-box mgb-5" v-for="(item,index) in searchList" :key="index">
								<input type="hidden" name="topicid" :value="item.topicid" />
								<div class="mgb-10 flex">
									<div class="flex-1">{{item.title}}</div>
									<div>{{item.typeid_title}}</div>
								</div>
								<div class="flex flex-ai-center">
									<div class="pd-5">分数</div>
									<input type="text" class="w50" name="grade" :value="item.grade" />
									<div class="pd-5">排序</div>
									<input type="text" class="w50" name="orderindex" :value="item.orderindex" />
									<div class="flex-1"></div>
									<div class="btn mgr-5" @click="add('#addForm'+item.topicid)">添加</div>
									 
								</div>
							</form>
						</div>
						</div>
					</div>
					<div class="emptyData" v-else>
						暂无数据
					</div>	
				</div>
			
			<div class="list">
				<div v-for="(item,index) in pageData.list" :key="index" class="row-box mgb-5">
					<div class="mgb-10 flex">
						<div class="flex-1">{{item.title}}</div>
						<div>{{item.typeid_title}}</div>
					</div>
					<div class="flex flex-ai-center" :id="'ex'+item.id">
						<input type="hidden" name="exid" :value="item.exid" />
						<div class="pd-5">分数</div>
						<input type="text" class="w50" name="grade" :value="item.grade" />
						<div class="pd-5">排序</div>
						<input type="text" class="w50" name="orderindex" :value="item.orderindex" />
						<div class="flex-1"></div>
						<div class="btn mgr-5" @click="upExam(item.id)">保存</div>
						<div class="btn btn-warning" @click="del(item.id)">删除</div>
					</div>
				</div>
			</div>
		</div>
		{include file="footer.html"}
		<script src="/plugin/vue/vue.min.js"></script>
		<script>
			var exid="{$exam.exid}";
		</script>
		<script src="{$skins}exam_ask/index.js?v2"></script>
	</body>
</html>
