 
.morderlist {
	background-color: #eee;
}

.morderlist .item {
	margin-bottom: 20px;
	background-color: #fff;
	line-height: 22px;
	color: #666;
}

.morderlist .item .hd {
	padding: 10px;
	
	color: #999;
	 
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
}
.morderlist .item .hd:after{
	clear: both;
	content: ".";
	display: block;
	visibility: hidden;
	height: 0;
}

.morderlist .hd .status{
	color: #f60;
	font-size: 16px;
	float: left;
}

.morderlist .hd .time {
	color: #666;
	font-size: 13px;
	float: right;
}

.morderlist .item .money {
	color: #f60;
}

.morderlist .item .pay {
	color: #333;
}

.morderlist .row-money {
	padding: 5px;
	border-bottom: 1px solid #eee;
}

.morderlist .item a {
	color: #3199e8;
}
.morderlist .item .addr{
	padding: 0px 20px;
	color: #666;
	font-size: 14px;
	line-height: 1.5;
}
.morderlist .tools {
	text-align: right;
	padding: 5px 0px;
	font-size: 14px;
}
.morderlist .tools span{
	margin-right: 10px;
	color: #666;
}
.morderlist .tools a {
	border: 1px solid #eee;
	padding: 0px 10px;
	line-height: 25px;
	display: inline-block;
	color: #666;
	margin-right: 10px;
	font-size: 12px;
}

.morderlist .tools .gopay {
	border-color: #f90;
	color: #f90;
}
.morderlist .row-pay{
	padding: 5px 10px;
	font-size: 14px;
	color: #444;
	line-height: 24px;
}
.morderlist .row-pay .money{
	font-size: 18px;
}
.morderlist .row-pay .ispay_name{
	font-size: 16px;
	color: #f60;
}
.pitem {
	display: flex;
	margin-bottom: 5px;
	background-color: #fbfbfb;
	padding: 5px;
}

.pitem-img {
	width: 50px;
	margin-right: 10px;
}

.pitem-img img {
	width: 50px;
	height: 50px;
}

.pitem-title {
	flex: 1;
	color: #666;
	font-size: 14px;
}

.pitem-title .ks-title {
	color: #999;
	font-size: 12px;
}

.pitem-price {
	 padding-right: 5px;
}
 
.pitem-price .price {
	color: #f60;
	display: block;
	font-size: 16px;
}

.pitem-price .market-price {
	color: #aaa;
	text-decoration: line-through;
	display: block;
	font-size: 14px;
}
.morder-log-item{
	font-size: 14px;
	color: #555;
	border-bottom:1px solid #eee;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.morder-log-item .time{
	font-size: 12px;
	color: #666;
}
.morder-log{
	margin-bottom: 10px;
	display: flex;
}

.morder-log .content{
	height: 60px;
	margin-bottom: 5px;
	margin-right: 5px;
	flex: 1;
	padding: 5px;
	font-size: 12px;
}
.morder-log .btn{
	display: block;
	width: 80px;
	text-align: center;
	height: 36px;
	line-height: 36px;
	background-color: #27748c;
	color: #fff;
	font-size: 14px;
	align-self: center;
	border-radius: 10px;
	cursor: pointer; 
}
.morder-log .btn-danger{
	background-color: #FF5722;
}