.pm-head {
			width: 40px;
			height: 40px;
			margin-right: 5px;
		}
	
		.pm-l-msg,
		.pm-r-msg {
	
			color: #646464;
			font-size: 14px;
			padding: 5px;
			box-sizing: border-box;
			background-color: #eee;
			border-radius: 5px;
			 
		}
	
		.pm-l-msg {
			margin-right: 80px;
		}
	
		.pm-r-msg {
			margin-left: 30px;
		}
		 
			.w200{
				max-width: 200px;
			}
			.kf-content{
				border:1px solid #eee;
				padding: 5px 8px;
				border-radius: 10px;
				font-size: 14px;
				color: #646464;
				background-color: #fff;
				max-width: 80%;
			}