<!DOCTYPE html>
<html>
	{include file="head.html"}
		<style>
  	.tabs-border .item{width: 20%; padding: 0; margin: 0; text-align: center;}
 
  </style>  
	<body>
		<div class="header">
			<div class="header-back"></div>
			<div class="header-title">我的借书订单</div>
			 
		</div>
		<div class="header-row"></div>
		<div class="main-body" id="App">
		 
		 
 <div class="tabs-border i5">
 		<div @click="setType('all')" :class="type=='all'?'tabs-border-active':''" class="tabs-border-item ">全部</div>
 		<div @click="setType('confirm')"   :class="type=='confirm'?'tabs-border-active':''" class="tabs-border-item">已确认</div>
 		<div @click="setType('send')"   :class="type=='send'?'tabs-border-active':''" class="tabs-border-item">配送中</div>
 		<div @click="setType('finish')"   :class="type=='finish'?'tabs-border-active':''" class="tabs-border-item">已完成</div>
 		<div @click="setType('cancel')"   :class="type=='cancel'?'tabs-border-active':''" class="tabs-border-item">已取消</div>
 </div>
		    <div class="list">
		    	 
		    	<div v-for="(item,index) in list" :key="index" class="row-box mgb-5">
		    		<div class="flex bd-mp-5">
		    			<div class="cl-status mgr-5">{{item.status_name}}</div>
						<div class="cl3 f12">{{item.timeago}}</div>
						<div class="flex-1"></div>
						
						<div class="cl-money">￥{{item.paymoney}}</div>
		    			
		    		</div>
		    		<div v-for="(p,i) in item.pros" :key="i" class="flexlist-item">
		    			 
		    			<img class="flexlist-img" :src="p.imgurl+'.100x100.jpg'" >
		    			<div class="flex-1">
		    				<div class="cl2 mgb-5">
		    					{{p.title}} 
		    					 
		    				</div>
		    				 
		    				<span class="cl-money">￥{{p.price}}</span>
		    			</div>
		    			
		    			
		    		</div>
		    	
		    	</div>
		    	 
		    </div>
		</div>
		{include file="footer.html"}
		<script src="{$skins}gread_order/my.js"></script>
	</body>
</html>
