<!DOCTYPE html>
<html>
{include file="head.html"}
<style>
.jItem{
	width: 20%;
	padding: 10px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
</style>
<body>
<div class="header">
	<div class="header-back"></div>
	<div class="header-title">活动详情</div>
</div>
<div class="header-row"></div>
<div class="main-body none" :class="'flex-col'" id="App">
    
    <div class="row-box mgb-5">
		<div class="flex flex-ai-center bd-mp-10">
			<img class="wh-40 bd-radius-50 mgr-5" :src="party.user_head+'.100x100.jpg'">
			<div class="cl2">{{party.nickname}}</div>
			<div class="flex-1"></div>
			<div :gourl="'/index.php?m=pm&a=detail&userid='+party.userid" class="cl-primary f12">发私信</div>
		</div>
		<div class="d-title">{{party.title}}</div>
		
		<div class="flex mgb-10">
			<div class="cl2 mgr-5">限制人数</div>
			<div class="cl-num">{{party.max_num}}</div>
			<div class="flex-1"></div>
			<div class="cl2 mgr-5">参与人数</div>
			<div class="cl-num">{{party.join_num}}</div>
		</div>
		<div class="flex mgb-10">
			<div class="cl2 mgr-5">活动时间</div>
			<div class="cl2">{{party.stime}}</div>
		</div>
		 
		<div class="cl2">地址：{{party.address}}</div>
	</div>
	<div class="row-box">
		<div class="tabs-border-group">
			<div class="tabs-border mgb-10">
				<div class="tabs-border-item tabs-border-active js-tabs-border-item">活动详情</div>
				<div  class="tabs-border-item js-tabs-border-item">活动动态</div>
				<div class="tabs-border-item js-tabs-border-item">参与用户</div>
			</div>
			<div class="tabs-border-box tabs-border-box-active">
				<div class="d-content" v-html="party.content"></div>
			</div>
			<div class="tabs-border-box">
				<div class="flex">
					<div class="fw-600">活动动态</div>
					<div class="flex-1"></div>
					<div :gourl="'/module.php?m=party_blog&a=add&partyid='+party.id" class="btn-mini">发布动态</div>
				</div>
				<div v-for="(item,index) in blogList" :key="index" @click="goBlog(item.id)" class="sglist-item">
					
					<div class="sglist-title">{{item.content}}</div>
					<div class="sglist-imglist">
						 
						<img v-for="(img,imgIndex) in item.imgslist" :key="imgIndex" :src="img+'.100x100.jpg'" class="sglist-imglist-img" />
						
					</div>
					<div class="sglist-ft">
						<div class="sglist-ft-love">{{item.love_num}}</div>
						<div class="sglist-ft-cm">{{item.comment_num}}</div>
						<div class="sglist-ft-view">{{item.view_num}}</div>
					</div> 
				</div>
				
			</div>	
			<div class="tabs-border-box">
				<div >
					<div v-if="Object.keys(joinList).length==0" class="emptyData">暂无参与用户</div>
					<div v-else class="flex flex-wrap">
						<div class="jItem" v-for="(item,index) in joinList" :key="index">
							<img class="wh-40 bd-radius-50 mgb-5" :src="item.user_head" />
							<div class="f12 cl2">{{item.nickname}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
	</div> 
    <div class="footer-row"></div>
    <div class="footerFix pd-10 bg-white">
    	<div class="flex flex-ai-center">
    		<div class="cl2 mgr-5">活动费用</div>
    		<div class="cl-money">￥{{party.money}}</div>
    		<div class="flex-1"></div>
    		{if $join }
    			{if  $join.status==1}
    			<a href="tel:{{party.telephone}"   class="btn-mini btn-outline-dark iconfont icon-mobile"></a>
    			{elseif  $join.status==2}
    			<div class="cl3">未通过</div>
    			{else}
    			<div class="cl2">待审核</div>
    			{/if}
    		
    		{else}
    		<div id="actJoin" class="btn btn-outline-primary">我要参与</div>
    		{/if}
    	</div>
    </div>
	<div class="modal-group" id="actBox">
		<div class="modal-mask"></div>
		<div class="modal">
			<div class="modal-header">
				<div class="modal-title">活动参与</div>
				<div class="modal-close icon-close"></div>
			</div>
			<div class="modal-body">
				<form id="actForm">
				<input type="hidden" name="pid" :value="party.id" />
				<div class="input-flex">
					<div class="input-flex-label">联系人：</div>
					<input type="text" class="input-flex-text"  name="nickname" id="nickname" value="">
				</div>
				<div class="input-flex">
					<div class="input-flex-label">电话：</div>
					<input type="text" class="input-flex-text"  name="telephone" id="telephone" value="">
				</div>
				<div class="input-flex">
					<div class="input-flex-label">自我介绍：</div>
					<input type="text" class="input-flex-text"  name="description" id="description" value="">
				</div>
				<div class="flex flex-center mgb-5">
					<div class="cl2 mgr-5">活动费用</div>
					<div class="cl-money">￥{{party.money}}</div>
				</div>
				<div id="actSubmit" class="btn-row-submit">确认参与</div>
				</form>
			</div>
		</div>
	</div>
</div>


{include file="footer.html"}
<script> 
var pid="{$data.id}"
</script>
<script src="{$skins}party/show.js"></script>
</body>
</html>