<!DOCTYPE html>
<html>
	{include file="head.html"}
	<style>
		.conBox{
			border: 1px solid #f60;
			padding:5px;
			border-radius: 5px;
			line-height: 1.5;
			margin-bottom: 8px;
			font-size: 14px;
		}
	</style>
	<body>
		<div class="header">
			<div class="header-back"></div>
			<div class="header-title">跑腿抢单</div>
		</div>
		<div class="header-row"></div>
		<div class="main-body none" :class="'flex-col'" id="App">
			<div v-if="!list || Object.keys(list).length==0" class="emptyData">
				暂无跑腿订单
			</div>
			<div class="ptlist">
			
				<div class="row-box mgb-5" v-for="(item,index) in list" :key="index">
					<div class="flex flex-ai-center mgb-5">
						<div class="mgr-5">{{item.typeid_name}}</div>
						<div class="cl-money mgr-5">{{item.status_name}}</div>
						<div class="f12 cl3">{{item.createtime}}</div>
						<div class="flex-1"></div>
			
						<div class="flex mgb-5 flex-ai-center">
							 
							<div class="cl-money">￥</div>
							<div class="cl-money">{{item.paotui_money}}</div>
						</div>
					</div>
					<div class="conBox" v-html="item.content"></div>
					<div  class="flex mgb-5">
						 
						<div class="flex-1">
							<div class="flex mgb-5">
								<div class="mgr-10 cl3 f12">{{item.truename}}</div>
								<div class="cl3 f12">{{item.telephone}}</div>
							</div>
							<div class="cl3 f12">
								{{item.address}}
							</div>
						</div>
			
					</div>
					 
			
					
					 
					<div v-if="item.status==0" class="flex">
						 
						<div @click="uconfirm(item.id)" class="btn-small btn-primary mgr-20">确认接单</div> 
						 
					</div>
					 
			
				</div>
			
			</div>
		</div>
		{assign var="ftnav" value="paotui"}
		{include file="ftnav.html"}
		{include file="footer.html"}
		<script src="{$skins}csc_paotui/index.js"></script>
	</body>
</html>
