<!DOCTYPE html>
<html>
	{include file="head.html"}
	<body>
		<div class="header">
			<div class="header-back"></div>
			<div class="header-title">我的关注</div>
			 
		</div>
		<div class="header-row"></div>
		<div class="main-body" id="app">
			 
			<div style="display: none;" :class="'flex-col'" class="sglist">
				 
				<div v-for="(item,index) in  list" :key="index" @click="goBlog(item.productid)" class="sglist-item">
					
					<div class="sglist-title flex" v-html="item.content"></div>
					<div class="sglist-imglist">
						 
						<img v-for="(img,imgIndex) in item.imgslist" :key="imgIndex" :src="img+'.100x100.jpg'" class="sglist-imglist-img" />
						
					</div>
					<div class="flex mgb-10">
						<div class="mgr-5 cl2">优惠价</div>
						<div class="cl-money mgr-10">￥{{item.price}}</div>
						<div class="flex-1"></div>
						<div class="cl3 f12">原价</div>
						<div class="market-price">￥{{item.market_price}}</div>
					</div>
					<div class="sglist-ft">
						<div class="sglist-ft-cart">{{item.buynum}}</div>
						<div class="sglist-ft-cm">{{item.comment_num}}</div>
						<div class="sglist-ft-view">{{item.view_num}}</div>
					</div> 
				</div>
				<div class="loadMore" v-if="per_page>0" @click="getList">加载更多</div>
			</div>
			
		</div>
		{assign var="ftnav" value="home"}
		{include file="ftnav.html"}
		{include file="footer.html"}
		<script src="{$skins}freeshop_feeds/index.js"></script>
	</body>
</html>
