.swiper-container {
	width: 100%;
	padding-bottom: 62.5%;
	height: 0;
	overflow: hidden;
}

.swiper-wrapper {
	width: 100%;
	flex-direction: row;
}

.mtt10 {
	margin-top: -10px;
}

.adBox {
	display: flex;
	flex-direction: row;

}

.adBox-item {
	flex: 1;
	margin: 5px;
}

.adBox-img {
	width: 100%;
	border-radius: 10px;
}
