<!DOCTYPE html>
<html>
	{include file="head.html"}
	<body>
		<div class="header">
			<div class="header-back"></div>
			<div class="header-title">收到的报价</div>
		</div>
		<div class="header-row"></div>
		<div id="App" class="main-body">
			<div>
				<div class="row-box mgb-5" v-for="(item,index) in list" :key="index">
					<div class="flex">
						<img :src="item.product.imgurl+'.100x100.jpg'" class="w50 mgr-5" />
						<div class="flex-1">
							<div class="flex flex-ai-center mgb-5">
								 
								<div class="cl-money">￥{{item.money}}</div>
								<div class="flex-1"></div>
								<div class="cl-status" >
									{{item.status_name}}
								</div>
							</div>
							<div class="cl2 mgb-5">
								{{item.product.description}}
							</div>
							<div v-if="item.status==1" class="flex">
								<div class="flex-1"></div>
								<div @click="goOrder(item)" class="btn-small">去购买</div>
							</div>
						</div>
						 
						
					</div>
				</div>
			</div>
		</div>
		{include file="footer.html"}
		<script src="{$skins}ershou_baojia/my.js"></script>
	</body>
</html>