.thd{
	font-weight: 600;
	color: #444;
	margin-bottom: 6px;
}
.tcon{
	color: #666;
	text-indent: 20px;
	font-size: 14px;
}
.flexlist{
	padding-top: 5px;
}
.flexlist .item{
	background-color: #fff;
	margin-bottom: 5px;
	padding: 5px;
}
.flexlist .starttime{
	line-height: 1.5;
	font-size: 14px;
	color: #555;
	padding-left: 10px;
}
.flexlist .nums{
	line-height: 1.6;
	font-size: 14px;
	color: #666;
	padding-left: 10px;
}
.flexlist .nums .num{
	color: #f60;
}