<!DOCTYPE html>
<html>
	{include file="head.html"}
 
	<body>
		<div class="header">
			<div class="header-back"></div>
			<div class="header-title">品鲜团订单</div>
		</div>
		<div class="header-row"></div>
		<div class="main-body" id="app" v-if="pageLoad">
			 
			<div class="tabs-border " id="js-tabs-order">
				<div :class="tab==''?'tabs-border-active':''" @click="setType('')" class="tabs-border-item">全部</div>
				<div :class="tab=='unpay'?'tabs-border-active':''"  @click="setType('unpay')" class="tabs-border-item">待付款</div>
				<div :class="tab=='unreceive'?'tabs-border-active':''"  @click="setType('unreceive')" class="tabs-border-item">待收货</div>
				<div :class="tab=='unraty'?'tabs-border-active':''"  @click="setType('unraty')" class="tabs-border-item">待评价</div>
				 
			</div>
			 
			<div class="morderlist" id="list">
				<div v-if="pageData.list.length==0" class="emptydata">暂无订单</div>
				<div v-else>
				<div class="row-box mgb-5" v-for="(item,index) in pageData.list" :key="index">
					<div class="flex bd-mp-5">
						<div class="flex-1 cl-num">{{item.status_name}}</div>
						<div class="cl3 f12">{{item.timeago}}</div>
					</div>
					<div class="flexlist-item" @click="goProduct(item.fsid)">
						<img class="flexlist-img" :src="item.fsbuy.imgurl+'.100x100.jpg'"/>
						<div class="flex-1">
							<div class="flexlist-title">{{item.fsbuy.title}}</div>
							<div class="cl2 mgb-5">{{item.kstitle}}</div>
							<div class="cl-money">￥{{item.money}}</div>
						</div>
					</div>
					<div class="mgb-5">
	    			 
	    				<div class="cl3">联系人：{{item.nickname}}</div>
	    				<div class="cl3">联系电话：{{item.telephone}}</div>
	    				<div class="cl3">收货地址：{{item.address}}</div>
	    			</div>
					
					 
				</div>
				</div>
			</div>
			<div class="loadMore"  v-if="pageData.per_page>0" @click="loadMore">加载更多</div>
			 
		</div>

	 
	{include file="footer.html"}
	<script>
		var fsid="{$fsbuy.fsid}";
	</script>
	 <script src="/plugin/vue/vue.min.js"></script>
	 <script src="{$skins}fsbuy_order_shop/index.js"></script>
	</body>

</html>